<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<div id="wrapper">
    <div class="row">
        <div class="col">
            <div class="add-product">
            <form action="/admin/add" method="POST" class="form-group">
                <select class="categories">
                    <option value="">Select Categories</option>
                    <option value="">Category-2</option>
                    <option value="">Category-3</option>
                    <option value="">Category-4</option>
                </select>
                <select class="brands">
                    <option value="">Select Brands</option>
                    <option value="">Brands-2</option>
                    <option value="">Brands-3</option>
                    <option value="">Brands-4</option>
                </select>
                <div class="product-details">
                <h5>Product Title</h5>
                <input type="text" name="title" id="productTitle">
                <h5>Product Image</h5>
                <input type="text" name="imageUrl" id="productImage">
                <h5>Product Price</h5>
                <input type="number" name="price" id="productPrice">
                <div class="form-group">
                    <h5>Product Description</h5>
                    <textarea name="description" class="form-control" id="productDescription" rows="3" placeholder="Write something about product"></textarea>
                  </div>
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="sajha-btn" name="submit">Add Product</button>
            </form>
        </div>
        </div>
    </div>
</div>    

<%- include('../includes/footer.ejs') %>