<h2 class="title">Wedding Cakes</h2>
<ul id="autoWidth" class="cs-hidden">
    <li class="item-a">
        <div class="box">  
            <div class="slider">
                <img src="https://i.pinimg.com/originals/5a/83/ba/5a83ba7fcc022bd9c5cc0443f5eee95b.jpg" alt="">
                <div class="buy">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="detail-box">
                <div class="type">
                    <a href="#">Lacoste</a>
                    <span>Solid Cake</span>
                </div>
                <a href="#" class="price">Rs.699</a>
            </div>
        </div>
    </li>
    <li class="item-b">
        <div class="box">  
            <div class="slider">
                <img src="https://i.pinimg.com/originals/66/01/38/6601382cf3009552fd10bd2d9c85f3be.jpg" alt="">
                <div class="buy">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="detail-box">
                <div class="type">
                    <a href="#">Lacoste</a>
                    <span>Solid Cake</span>
                </div>
                <a href="#" class="price">Rs.699</a>
            </div>
        </div>
    </li>
    <li class="item-c">
        <div class="box">  
            <div class="slider">
                <img src="https://i.pinimg.com/originals/66/01/38/6601382cf3009552fd10bd2d9c85f3be.jpg" alt="">
                <div class="buy">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="detail-box">
                <div class="type">
                    <a href="#">Lacoste</a>
                    <span>Solid Cake</span>
                </div>
                <a href="#" class="price">Rs.699</a>
            </div>
        </div>
    </li>
    <li class="item-d">
        <div class="box">  
            <div class="slider">
                <img src="https://i.pinimg.com/originals/66/01/38/6601382cf3009552fd10bd2d9c85f3be.jpg" alt="">
                <div class="buy">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="detail-box">
                <div class="type">
                    <a href="#">Lacoste</a>
                    <span>Solid Cake</span>
                </div>
                <a href="#" class="price">Rs.699</a>
            </div>
        </div>
    </li>
    <li class="item-e">
        <div class="box">  
            <div class="slider">
                <img src="https://i.pinimg.com/originals/66/01/38/6601382cf3009552fd10bd2d9c85f3be.jpg" alt="">
                <div class="buy">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="detail-box">
                <div class="type">
                    <a href="#">Lacoste</a>
                    <span>Solid Cake</span>
                </div>
                <a href="#" class="price">Rs.699</a>
            </div>
        </div>
    </li>
    <li class="item-e">
        <div class="box">  
            <div class="slider">
                <img src="https://i.pinimg.com/originals/66/01/38/6601382cf3009552fd10bd2d9c85f3be.jpg" alt="">
                <div class="buy">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="detail-box">
                <div class="type">
                    <a href="#">Lacoste</a>
                    <span>Solid Cake</span>
                </div>
                <a href="#" class="price">Rs.699</a>
            </div>
        </div>
    </li>
    <li class="item-e">
        <div class="box">  
            <div class="slider">
                <img src="https://i.pinimg.com/originals/66/01/38/6601382cf3009552fd10bd2d9c85f3be.jpg" alt="">
                <div class="buy">
                    <a href="#" class="btn">Buy Now</a>
                </div>
            </div>
            <div class="detail-box">
                <div class="type">
                    <a href="#">Lacoste</a>
                    <span>Solid Cake</span>
                </div>
                <a href="#" class="price">Rs.699</a>
            </div>
        </div>
    </li>
    </ul>
    