<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="/images/esewa.png" alt="esewa">
            </div>
            <div class="col-5">
                <img src="/images/fone.png" alt="fone">
            </div>
            <div class="col-5">
                <img src="/images/paypal.png" alt="paypal">
            </div>
            <div class="col-5">
                <img src="/images/ime.jpg" alt="ime">
            </div>
            <div class="col-5">
                <img src="/images/khalti.png" alt="khalti">
            </div>
        </div>
    </div>
</div>