<!-- All Product slider -->

<div id="wrapper">
    <div class="container-fluid">
        <div class="product-heading">
            <div class="product-title">
                <h4 class="prod-title">Categories Products</h4>
            </div>
            <div class="heading-btn">
                <a href="#" class="btn btn-primary">View All</a>
            </div>
        </div>
        <hr>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <div class="categories-product">
                <div class="shadow"></div>
                <img src="/images/shoe.jpg" alt="product">   
                <div class="image_overlay"></div>
                <div class="detail">        	
                    <div class="detail-container">                    
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Footwear</a>
                    </div>                       
                    </div>                         
                </div>
           </div>
        </div>
        <div class="item">
            <div class="categories-product">
                <div class="shadow"></div>
                <img src="/images/watertank.jpg" alt="product">   
                <div class="image_overlay"></div>
                <div class="detail">        	
                    <div class="detail-container">                    
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Hardwear</a>
                    </div>                       
                    </div>                         
                </div>
           </div>
        </div>
        <div class="item">
            <div class="categories-product">
                <div class="shadow"></div>
                <img src="/images/cake3.png" alt="product">   
                <div class="image_overlay"></div>
                <div class="detail">        	
                    <div class="detail-container">                    
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Bakery</a>
                    </div>                       
                    </div>                         
                </div>
           </div>
        </div>
        <div class="item">
            <div class="categories-product">
                <div class="shadow"></div>
                <img src="/images/cake2.jpg" alt="product">   
                <div class="image_overlay"></div>
                <div class="detail">        	
                    <div class="detail-container">                    
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Bakery</a>
                    </div>                       
                    </div>                         
                </div>
           </div>
        </div>
        <div class="item">
            <div class="categories-product">
                <div class="shadow"></div>
                <img src="/images/shoe2.jpg" alt="product">   
                <div class="image_overlay"></div>
                <div class="detail">        	
                    <div class="detail-container">                    
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Footwear</a>
                    </div>                       
                    </div>                         
                </div>
           </div>
        </div>
    </div>
</div>
</div>

<!-- /All Product slider -->
