<!-- feature slider -->

<div id="wrapper">
    <div class="container">
        <div class="heading pt-4">
            <h3 class="heading-title text-center">Feature Product</h3>
            <hr>
        </div>
    <div class="owl-carousel owl-theme">
        <div class="item">
            <div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div>
        </div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div>></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div>></div>
        <div class="item"><div class="product-cards">
                <div class="shadow"></div>
                <img src="https://www.banglashoppers.com/pub/media/catalog/product/cache/b406a9cdc224c57c443df60b8bd9edbe/a/b/abny_-_hd_flawless_foundation_-_natural_-_ahdf01_-_28ml.jpg" alt="" />
                <div class="image_overlay"></div>
                <div id="view_details">View details</div>
                <div class="detail">        	
                    <div class="detail-container">
                        <span class="product_price">$39</span>
                        <span class="product_name">Adidas Originals</span>    
                        <p>Men's running shirt</p>                   
                        <div class="product-options">
                            <a href="#" class="btn product-btn">Make a Wish</a>
                            <a href="#" class="btn product-btn">Add To Card</a>
                    </div>                       
                    </div>                         
                </div>
            </div>></div>
    </div>
</div>
</div>

<!-- /feature slider -->
