<!-- First Slider -->

    <div class="container-fluid p-0">
        <div class="first-slider">
            <div class="slider-one">
                 <div>
                     <img src="/images/product1.jpg" alt="product1" class="img-fluid">
                 </div>
                 <div>
                     <img src="/images/product2.jpg" alt="product2" class="img-fluid">
                 </div>
                 <div>
                     <img src="/images/product3.jpg" alt="product3" class="img-fluid">
                 </div>
                 <div>
                     <img src="/images/product4.jpg" alt="product4" class="img-fluid">
                 </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
                <span class="next position-top right-0"><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
    </div>




<!-- /First Slider -->