<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone</p>
                <div class="app-logo">
                    <img src="/images/playstore.png" alt="android-logo">
                    <img src="/images/appstore.png" alt="ios-logo">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="/images/cakelogo.png" alt="cake-logo">
                <p>Our purpose is to make the best cake aroung the Nepal.
                 and serve it to the customer with an honor.
                </p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li> <a href="">Coupons</a></li>
                    <li><a href="">Blog Post</a></li>
                    <li><a href="">Return Policy</a></li>
                    <li><a href="">Join Affiliate</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">twitter</a></li>
                    <li><a href="#">Youtube</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">&copy Copyrights 2020 SajhaKart</p>
    </div>
</div>
<script src="/javascripts/bcards.js"></script>
<script src="/javascripts/menu.js"></script>
<% if ( title == 'Product Details' ) { %>
<script src="/javascripts/Products.js"></script>
<% } %>
<% if ( title == 'Account' ) { %>
<script src="/javascripts/account.js"></script>
<% } %>
<!-- jquery and bootstrap.js in local -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- jquery, popper.js, bootstrap.js CDN -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
</body>
</html>