<div class="nav-banner">
    <div class="container">        
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="/images/logo1.png" alt="sajha-logo"></a>
        </div>
        <nav>
            <ul id="menuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <% if (isAuthenticated) { %>
                <li><a href="/orders">My-Orders</a></li>
                <li><a href="/admin/add">Add</a></li>
                <li><a href="/admin/orders">Orders</a></li>
                <% } %>
                
                <% if (!isAuthenticated) { %>
                    <li><a href="/login">Sign In</a></li>
                <% } else { %>
                <li>
                    <form action="/logout" method="POST">
                        <button type="submit">Sign Out</button>                    
                    </form>
                </li>
                <% } %>
            </ul>
        </nav>
        <a href="/cart" class="cart-icon"><img src="/images/carticons-36.png" alt="cart"></a>
        <img src="/images/menu-36.png" alt="Menu" class="menu-icon" onclick="menuToggle()">       
    </div>
</div>  <!-- container end -->
</div>  <!-- Nav Banner End -->