</head>
<body>
    <div class="header">
    <div class="nav-banner">
    <div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="/"><img src="/images/cakelogo.png" alt="cakelogo"></a>
        </div>
        <nav>
            <ul id="menuItems">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/admin/add">Add</a></li>
                <li><a href="/admin/orders">Orders</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/account">Sign In</a></li>
            </ul>
        </nav>
            <a href="/cart" class="cart-icon"><img src="/images/carticons-36.png" alt="cart"></a>
            <img src="/images/menu-36.png" alt="Menu" class="menu-icon" onclick="menuToggle()">
        
    </div>
</div>  <!-- container end -->
</div>  <!-- Nav Banner End -->