    <h2 class="title">Recent Cakes</h2>
        <div class="row">
            <div class="col-4">
                <img src="/images/cake1.png">
                <h4>Chocolate with rainbow toppings</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs600.00</p>
            </div>
            <div class="col-4">
                 <img src="/images/cake2.jpg">
                 <h4>Chocolate with strawberry toppings</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs400.00</p>
            </div>
            <div class="col-4">
                <img src="/images/cake3.png">
                <h4>Chocolate with cherry & cream </h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs200.00</p>
            </div>
            <div class="col-4">
                <img src="/images/cake1.png">
                <h4>Chocolate with rainbow toppings</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs600.00</p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="/images/cake1.png">
                <h4>Chocolate with rainbow toppings</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs600.00</p>
            </div>
            <div class="col-4">
                 <img src="/images/cake2.jpg">
                 <h4>Chocolate with strawberry toppings</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs400.00</p>
            </div>
            <div class="col-4">
                <img src="/images/cake3.png">
                <h4>Chocolate with cherry & cream </h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs200.00</p>
            </div>
            <div class="col-4">
                <img src="/images/cake1.png">
                <h4>Chocolate with rainbow toppings</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>Rs600.00</p>
            </div>
        </div>