</head>
<body>
    <div class="ribbon-banner">
    <div class="container-fluid">
    <div class="ribbon">
        <div class="rib">            
            <span class="rib-left">
                <a href="/">Home</a>
                <span>|</span>
                <a href="/products">Phone: 9816900475</a>               
            </span>
            <span class="rib-right">
                <a href="/account">Sign In</a>
            </span>
            </ul>
        </div>       
    </div>
</div>  <!-- container end -->
</div>  <!-- Nav Banner End -->