<!-- Second slider -->
    <div class="container-fluid">
        <div class="second-slider">
            <div class="row slider-two text-center">
                <div class="product pt-4">
                     <img src="/images/product1.jpg" alt="product   
                     <h6 class="price">Rs.700</h6>
                     <a href="#" class="border sajha-btn btn-span">Categories 1</a>
                </div>
                <div class="product pt-4">
                    <img src="/images/cake1.png" alt="product 2">
                    <!-- <h5 class="title">Product Two</h5>
                    <h6 class="price">Rs.700</h6> -->
                    <a href="#" class="border sajha-btn btn-span">Categories 2</a>
               </div>
               <div class="product pt-4">
                <img src="/images/008.jpg" alt="product 3">
                <!-- <h5 class="title">Product Three</h5>
                <h6 class="price">Rs.700</h6> -->
                <a href="#" class="border sajha-btn btn-span">Categories 3</a>
               </div>
               <div class="product pt-4">
                <img src="/images/cake3.png" alt="product 4">
                <!-- <h5 class="title">Product Four</h5>
                <h6 class="price">Rs.700</h6> -->
                <a href="#" class="border sajha-btn btn-span">Categories 4</a>
               </div>
               <div class="product pt-4">
                <img src="/images/010.jpg" alt="product 5">
                <!-- <h5 class="title">Product Five</h5>
                <h6 class="price">Rs.700</h6> -->
                <a href="#" class="border sajha-btn btn-span">Categories 5</a>
               </div>
               <div class="product pt-4">
                <img src="/images/cake2.jpg" alt="product 6">
                <!-- <h5 class="title">Product Six</h5>
                <h6 class="price">Rs.700</h6> -->
                <a href="#" class="border sajha-btn btn-span">Categories 6</a>
               </div>
            </div>
            <div class="slider-btn">
                <span class="prev position-top left-0"><i class="fas fa-chevron-left text-secondary"></i></span>
                <span class="next position-top right-0"><i class="fas fa-chevron-right text-secondary"></i></span>
            </div>
        </div>
    </div>

<!-- /Second slider -->
