<div class="service">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <span class="service-icon fa fa-2x fa-shopping-basket"></span>
                <h3>Visit Store</h3>
                <p>Drop by our store for exclusive offer</p>
            </div>
            <div class="col-3">
                <span class="service-icon fa fa-2x fa-truck"></span>
                <h3>Easy Delivery</h3>
                <p>Please contact us for arranging delivery to your location</p>
            </div>
            <div class="col-3">
                <span class="service-icon fa fa-2x fa-phone"></span>
                <h3>Contact Us</h3>
                <p>Shop: 023-45021</p>
            </div>
        </div>
    </div>
</div>