<!-- testimonial -->
<div class="container">
    <div class="heading">
        <h3 class="heading-title text-center">Testimonials</h3>
        <hr>
    </div>
    <div class="testimonial">
        <div class="row slider-testimonial">
            <div class="col-3 mx-2 my-2">
                <i class="fas fa-quote-left"></i>
                <p>Lorem Ipsum is simply dummy text of <br>
                    the printing and typesetting industry.
                </p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <img src="/images/girlsmile.jpg">
                <h3>Sarah Donald</h3>
            </div>
            <div class="col-3 mx-2 my-2">
                <i class="fas fa-quote-left"></i>
                <p>Lorem Ipsum is simply dummy text of <br>
                    the printing and typesetting industry.
                </p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <img src="/images/girlsmile1.jpg">
                <h3>Soha Pitt</h3>
            </div>
            <div class="col-3 mx-2 my-2">
                <i class="fas fa-quote-left"></i>
                <p>Lorem Ipsum is simply dummy text of <br>
                    the printing and typesetting industry.
                </p>
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>
                <img src="/images/boysmile.jpeg">
                <h3>Rohan Nepali</h3>
            </div>
        </div>
    </div>
</div>