/***** Global Variables ****/
/******end*******/
#myCarousel .carousel-item .mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

#myCarousel h4 {
  font-size: 50px;
  margin-bottom: 15px;
  color: #000;
  line-height: 100%;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-left: 40px;
}

#myCarousel p {
  font-size: 18px;
  margin-bottom: 15px;
  color: #F47735;
  margin-left: 40px;
}

#myCarousel .carousel-item a {
  background: #F47735;
  font-size: 14px;
  color: #FFF;
  padding: 13px 32px;
  display: inline-block;
  margin-left: 40px;
}

#myCarousel .carousel-item a:hover {
  background: #394fa2;
  text-decoration: none;
}

#myCarousel .carousel-item h4 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

#myCarousel .carousel-item p {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

#myCarousel .carousel-item a {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#myCarousel .carousel-item .mask img {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  display: block;
  height: auto;
  max-width: 100%;
  margin-top: 50px;
}

#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img {
  -webkit-animation-duration: 1s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#myCarousel .container {
  max-width: 1430px;
}

#myCarousel .carousel-item {
  height: 100%;
  min-height: 550px;
}

#myCarousel {
  position: relative;
  z-index: 1;
  background: radial-gradient(#fff, #edf7f6);
}

.carousel-control-next,
.carousel-control-prev {
  background: #3dd6b5;
  height: 40px;
  width: 40px;
  padding: 12px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: .1;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  transition: -webkit-transform .6s ease;
  -webkit-transition: -webkit-transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
  transition: transform .6s ease,-webkit-transform .6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.carousel-fade .carousel-item {
  opacity: 0;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
  opacity: 1;
}

.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
  opacity: 0;
}

.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

/**********Global************/
* {
  border: 0;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", "Poppins", "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #363856;
}

a:hover {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

p {
  color: #58817E;
}

h4 {
  color: #555;
  font-weight: normal;
}

.sajha-btn {
  width: 160px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #00ffcc;
  color: #555555;
  padding: 8px 30px;
  margin: 3px 0;
  margin-left: 0px;
  border-radius: 30px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.sajha-btn:hover {
  background: #00ffcc;
  color: #fcfbfb;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.sajha-btn:focus {
  outline: none;
}

/*****Global End ***/
/*****Ribbon*****/
.ribbon-banner {
  background-color: #e5eaf5;
  width: 100%;
  height: auto;
}

.rib {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rib-left a {
  padding: 10px;
}

/********Ribbon End*******/
/***Navigations***/
.nav-banner {
  background-color: #00ffcc;
  width: 100%;
  height: 50px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

.logo {
  margin: 0;
  padding: 0;
}

.logo img {
  margin: 2px;
  width: 120px;
  height: 46px;
}

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/*********Navigation End ********/
/*******Common Css for Slick Slider***********/
.product {
  padding-left: 10px;
  padding-right: 10px;
}

.slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

/*******Common Css for Slicke Slider End*******/
/******Categories Slider************/
/*******Categories Slider End************/
/*********Top Carousel First Slider*************/
.first-slider {
  position: relative;
}

.position-top {
  position: absolute;
  top: 50%;
  color: #fff;
  opacity: .3;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

.position-top:hover {
  opacity: 1;
}

.first-slider .slider-btn .prev,
.first-slider .slider-btn .next {
  background-color: lightgreen;
  padding: .2rem .5rem;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.first-slider:hover .slider-btn .prev,
.first-slider:hover .slider-btn .next {
  opacity: 1;
}

/**Slick img**/
.slick-slide img {
  width: 100%;
}

/**Slick Dots**/
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 1rem 0;
  list-style-type: none;
  position: absolute;
  bottom: 0;
  right: 50%;
}

.slick-dots li {
  margin: 0 0.6rem;
}

.slick-dots button {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  padding: 0;
  border: none;
  background-color: #fff;
  text-indent: -99999px;
  border-radius: 100%;
  opacity: 0.5;
}

.slick-dots li.slick-active button {
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
          box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.205);
  opacity: 0.5;
}

/**********First Slider End***********/
/***********Second Slider**********/
.second-slider .position-top {
  margin-right: 0;
}

.second-slider {
  position: relative;
  height: 30%;
}

.second-slider .product {
  position: relative;
  overflow: hidden;
}

.second-slider .product img {
  width: 100%;
  height: 85%;
  margin: auto;
}

.sajha-btn.btn-span {
  padding: .7rem 2rem;
  border-radius: 5rem;
  border: 1px solid #555;
  background-color: #777;
  color: #fff;
}

.second-slider .slick-track .product:hover .btn-span {
  background-color: #00ffcc;
  color: #000;
}

/**********Second Slider End**********/
/********Testimonial**************/
.testimonial {
  margin: auto;
  padding: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  width: 100%;
}

.testimonial .title {
  text-align: center;
}

.testimonial .col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 300px;
  text-align: center;
  padding: 40px 20px;
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: -webkit-transform  0.5s;
  transition: -webkit-transform  0.5s;
  transition: transform  0.5s;
  transition: transform  0.5s, -webkit-transform  0.5s;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.fa.fa-quote-left {
  font-size: 34px;
  color: #00ffcc;
}

.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/***********Testimonial End********************/
/***********************Brands************************/
/******Brands End*************/
/*************** Services *****************/
/****************Service End*************/
/**************************Footer**************************/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  background: #777;
}

.footer-box {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.footer .copyright {
  text-align: center;
  color: #fff;
}

/*************Footer End***************/
/*******Imports from sass***********/
.product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.product-row .col-md {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 10px;
}

.product-box {
  width: 200px;
  height: 275px;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.product-box img {
  width: 200px;
  height: 200px;
}

.product-box.animate {
  top: 0px;
  left: 0px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.product-box.animate {
  width: 200px;
  height: 275px;
  -webkit-box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.stats-container {
  background: #fff;
  position: absolute;
  top: 200px;
  left: 0;
  width: 200px;
  height: 150px;
  padding: 10px 10px 10px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product-box.animate .stats-container {
  top: 125px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.stats-container .product_name {
  font-size: 14px;
  color: #393c45;
}

.stats-container p {
  font-size: 12px;
  color: #b1b1b3;
  margin-bottom: 1px;
}

.stats-container .product_price {
  color: #48cfad;
  font-size: 15px;
  font-weight: 600;
}

.stats-container .product_old_price {
  float: right;
  color: #555555;
  font-size: 12px;
  font-weight: 400;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #48daa1;
  opacity: 0;
}

.product-box.animate .image_overlay {
  opacity: 0.7;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product-options {
  padding: 2px 0 0;
}

.product-options .product-btn {
  padding: 2px;
  margin-bottom: 7px;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #48cfad;
  background: transparent;
  color: #48cfad;
  text-transform: uppercase;
}

.product-btn:hover {
  background: #48cfad;
  color: #fff;
}

#view_details {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left: -85px;
  border: 2px solid #fff;
  color: #fff;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding: 5px 0;
  width: 135px;
  opacity: 0;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
}

#view_details:hover {
  background: #fff;
  color: #48cfad;
  cursor: pointer;
}

.product-box.animate #view_details {
  opacity: 1;
  width: 130px;
  font-size: 15px;
  margin-left: -65px;
  top: 50px;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
}

div.shadow {
  width: 200px;
  height: 300px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

#wrapper {
  height: auto;
  overflow: hidden;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #f4f4f4;
  padding: 10px;
  max-width: 1300px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

#wrapper hr {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
  width: 100%;
}

.product-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.item {
  background: saddlebrown;
  width: 100%;
  height: 275px;
  margin: 1px;
  position: relative;
}

#wrapper .owl-nav {
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

#wrapper .owl-next {
  right: 0;
}

#wrapper .owl-prev {
  left: 0;
}

#wrapper .owl-next,
#wrapper .owl-prev {
  position: absolute;
  display: block;
  background: transparent;
  color: #000;
  width: 70px;
  height: 140px;
  font-size: 70px;
  padding: 10px !important;
  opacity: .1;
  border: none;
}

#wrapper .owl-nav .owl-prev:focus,
#wrapper .owl-nav .owl-next:focus {
  outline: none;
}

#wrapper .owl-nav:hover .owl-prev,
#wrapper .owl-nav:hover .owl-next {
  opacity: .5;
}

#wrapper .owl-carousel .owl-stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper .owl-carousel .owl-item img {
  height: 100%;
  min-width: 100%;
  width: 100%;
}

/*******Product Cards**********/
.product-cards {
  width: 100%;
  height: 275px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.product-cards.animate {
  top: 0px;
  left: 0px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
}

.product-cards.animate {
  width: 100%;
  height: 275px;
  -webkit-box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 13px 21px -5px rgba(0, 0, 0, 0.3);
  -webkit-transition: 100ms ease-out;
  transition: 100ms ease-out;
}

.detail-container {
  background: #fff;
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 10px 10px 10px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product-cards.animate .detail-container {
  top: 125px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.detail-container .product_name {
  font-size: 17px;
  color: #393c45;
}

.detail-container p {
  font-size: 15px;
  color: #b1b1b3;
  padding: 2px 0 5px 0;
  margin-bottom: 10px;
}

.detail-container .product_price {
  float: right;
  color: #48cfad;
  font-size: 15px;
  font-weight: 600;
}

.product-cards.animate .image_overlay {
  opacity: 0.7;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product-cards.animate #view_details {
  opacity: 1;
  width: 130px;
  font-size: 15px;
  margin-left: -65px;
  top: 50px;
  -webkit-animation: fade-in 2s;
  animation: fade-in 2s;
}

/***************All Products ***********************/
/**Sorting list ***/
.row-2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 50px;
}

select {
  border: 1px solid #00ffcc;
  border-radius: 5px;
  padding: 5px;
}

select:focus {
  outline: none;
}

/*******Pagination*******/
.pagination {
  margin: 30px auto 80px;
}

.pagination span {
  display: inline-block;
  border: 1px solid #00ffcc;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.pagination span:hover {
  background: #00ffcc;
  color: #fff;
}

/**************************Details*************************/
.single-product {
  margin-top: 5px;
}

.single-product .col-2 {
  padding: 20px;
}

.single-product img {
  padding: 0;
}

.single-product h1 {
  font-size: 33px;
  padding: 0;
}

.single-product p {
  padding: 0;
}

.single-product .btn {
  margin-left: 5px;
}

/* .single-product .col-2 h3 {
    padding-left: 30px;
    padding-right: 20px;
} */
.single-product .col-2 h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select {
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input {
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #00ffcc;
}

input:focus {
  outline: none;
}

.single-product .fa {
  color: #00ffcc;
  margin-left: 10px;
}

.small-img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.small-img-col {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  cursor: pointer;
}

/********************** Cart cake *************************/
.cart-page {
  margin: 30px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart-info p {
  padding: 0;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #00ffcc;
  font-weight: normal;
}

td {
  padding: 10px 5px;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a {
  color: #00ffcc;
  font-size: 12px;
}

td img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.total-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid #00ffcc;
  width: 100%;
  max-width: 370px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.green {
  color: #03a685;
}

.cart-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
}

.wrapper_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: auto;
  padding: 15px;
  position: relative;
}

.wrapper_amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
  padding: 15px;
  position: relative;
}

.header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  font-size: 20px;
}

.product_wrap, .price_details {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 15px;
  margin-bottom: 15px;
}

.product_info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_data {
  margin: 0 10px;
}

.description {
  margin-bottom: 15px;
}

.product_img img {
  display: block;
  float: left;
  padding: 10px;
}

.main_header {
  font-weight: 700;
}

.sub_header {
  color: #555;
}

.product_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e4e4e4;
  color: #aca9a9;
}

.product_btns > div {
  padding: 5px 15px;
  cursor: pointer;
}

.product_btns > div:hover {
  background-color: #efefef;
  border-radius: 3px;
  color: black;
  font-weight: 700;
}

.remove {
  border-right: 1px solid #e4e4e4;
  width: 40%;
}

.whishlist {
  width: 60%;
}

.qty, .price {
  display: inline-block;
  width: 25%;
  margin-bottom: 10px;
}

.qty > div {
  background-color: #e4e4e4;
  margin: 5px;
  padding: 5px 7px;
  font-weight: 700;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.qty > div::before {
  content: "";
  top: 13px;
  right: 8px;
  position: absolute;
  border: 5px solid;
  border-color: #000 transparent transparent transparent;
}

.qty p {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.current_price {
  font-weight: 700;
  margin-right: 10px;
}

.normal_price {
  color: #adadad;
  margin-right: 10px;
  text-decoration: line-through;
}

.discount {
  color: #f16565;
}

.price_details .price_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.price_details .coupon {
  margin-top: 20px;
}

.price_details .total {
  padding-top: 10px;
  border-top: 1px solid #e4e4e4;
  font-weight: 700;
  margin-top: 20px;
}

.price_details .coupon a {
  color: #03a685;
  background-color: #efefef;
  padding: 10px 15px;
  border-radius: 5px;
}

.price_details .coupon a:hover {
  font-weight: 700;
}

.slider.active {
  display: block;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.slider .bg_shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
}

.slider .select_size, .select_quantity {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
}

.slider .header {
  padding: 10px 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
}

.close {
  cursor: pointer;
}

.button {
  background-color: #ff3f6c;
  color: fff;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  padding: 10px 15px;
  cursor: pointer;
}

.body ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 15px 15px;
}

.body ul li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.body ul li:hover, .body ul li.active {
  border-color: #ff3f6c;
  color: #ff3f6c;
}

.checkout, .continue {
  padding: 10px 15px;
  background-color: #00ffcc;
  width: 300px;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.checkout_btn {
  color: #555;
  width: 100%;
  display: block;
}

.cart_navigation {
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_logo {
  padding: 10px;
  margin: 1px 10px;
  margin-right: 10px;
}

.cart_navigation .payment-logo img {
  width: 100px;
  height: 46px;
  margin: 10px;
}

.cart_logo i {
  font-size: 50px;
  color: black;
}

.middle_content {
  font-weight: 700;
  letter-spacing: 3px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bag {
  color: #20BD99;
}

.secure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 0;
  font-weight: 700;
  margin-right: 10px;
}

.secure i {
  font-size: 35px;
  color: #20BD99;
}

.secure p {
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
}

/* .wrapper{
        flex-direction: column;
    } */
/* .wrapper_amount{
        margin: -20px 0px;
    } */
.slider {
  width: 100%;
}

.bag {
  display: none;
}

.payment {
  display: none;
}

.address {
  display: none;
}

/* Medium devices (landscape tablets, 768px and down) */
/* @media only screen and (max-width: 768px) {

        .wrapper-content {
          flex: 2
        }

        .wrapper-amount {
          flex: 2
        }
      
      }
     */
/********Product Detail Page Css******/
#detail-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: auto;
  overflow: hidden;
  background: #f4f4f4;
  padding: 5px;
  max-width: 1300px;
  margin: 5px;
  margin-top: 10px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

#detail-wrapper .row {
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
}

.detail-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
  position: relative;
}

.detail-descriptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: auto;
  padding: 15px;
  position: relative;
}

.product-img, .product-description {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  margin-bottom: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 3px 20px 3px;
}

.detail-descriptions h4,
.detail-descriptions h6 {
  display: inline-block;
  margin: 20px 20px 20px 0px;
  font-size: 22px;
  font-weight: bold;
}

.detail-descriptions h6 {
  font-size: 15px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

option {
  text-align: center;
}

.detail-descriptions select:focus {
  outline: none;
}

.detail-descriptions select, .detail-descriptions .detail-qty {
  display: block;
  border-radius: 5px;
  border: 1px solid salmon;
  text-align: center;
  margin: 5px;
  width: 20%;
}

.detail-descriptions .detail-qty {
  font-size: 20px;
}

input:focus {
  outline: none;
}

.detail-descriptions select option {
  font-size: 15px;
  font-weight: 300px;
}

.detail-images .product-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail-images .product-btn:hover {
  background: none;
}

.detail-images .btn {
  background: none;
  padding: 5px 15px;
  margin: 3px;
  height: auto;
  border: 1px solid #00ffcc;
  border-radius: 10px;
  text-align: center;
  color: #555555;
  text-decoration: none;
}

.detail-images .btn:hover {
  background: #00ffcc;
  color: #ffffff;
}

.small-img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.small-img-col {
  -ms-flex-preferred-size: 24%;
      flex-basis: 24%;
  cursor: pointer;
  border: 2px solid #555;
  margin: 3px;
}

/****************Account page ****************/
.form-container {
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

#wrapper .form-container .form-btn hr {
  width: 100px;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.form-container .sajha-btn {
  margin-left: 0;
}

form input {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}

form .sajha-btn {
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}

form .sajha-btn:focus {
  outline: none;
}

#loginForm {
  left: -300px;
}

#regForm {
  left: 0;
}

form a {
  font-size: 12px;
}

#indicator {
  width: 100px;
  height: 3px;
  border: none;
  background: #00ffcc;
  margin-top: 8px;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.product_order_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e4e4e4;
  color: #aca9a9;
}

.product_order_btns > div {
  padding: 5px 15px;
  cursor: pointer;
}

.product_order_btns > div:hover {
  background-color: #efefef;
  border-radius: 3px;
  color: black;
  font-weight: 700;
}

.orderDetails > div {
  font-weight: 700;
  position: relative;
  text-align: left;
}

.orderDetails p {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
}

.current_order_price {
  font-weight: 700;
  margin-right: 0;
  text-align: left;
}

.orderStatus p {
  margin: 0;
  padding: 0;
}

/******Admin******/
/************** Add product ********************/
.add-product {
  margin: auto;
  margin-top: 70px;
}

.add-product textarea {
  width: 100%;
}

form .btn {
  width: 160px;
}

/*********End***********/
/*****Different View Sizes*****/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2, .col-3, .col-4 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .col-2 .btn {
    margin-left: 0;
  }
  .single-product .row {
    text-align: left;
  }
  .single-product .col-2 {
    min-width: 330px;
  }
  .single-product h1 {
    font-size: 26px;
    line-height: 29px;
  }
  .row-2 h2 {
    font-size: 16px;
  }
  .cart-page p {
    display: none;
  }
  /**** Add Cake ***/
  .add-product {
    margin: auto;
    width: 100%;
  }
  /*** Offer ***/
  .offer .col-2 {
    min-width: 350px;
  }
  .offer .col-2 img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /*** Testimonial ***/
  .testimonial .col-3 {
    margin: 10px;
  }
  /*** Brands ***/
  .brands {
    margin: 35px auto;
  }
  .brands .col-5 {
    text-align: center;
    max-width: 100%;
  }
  /***** Account page ***/
  .account-page {
    margin: 0px !important;
  }
  .account-page .col-2 {
    margin-bottom: 20px;
    min-width: 330px;
  }
  .account-page .col-2 img {
    width: 100%;
  }
  /***Exclusive Carousel***/
  #myCarousel h4 {
    margin-left: 0px;
    font-size: 35px;
  }
  #myCarousel p, #myCarousel .carousel-item a {
    margin-left: 0px;
  }
  #myCarousel .carousel-item .mask img {
    max-width: 50%;
    margin-top: 20px;
  }
  /******product-grid*****/
  .product-grid {
    max-width: 50%;
  }
  /***********first slider**********/
  .first-slider:hover .slider-btn .prev,
  .first-slider:hover .slider-btn .next {
    opacity: 0;
  }
  /*********Cart page***********/
  .qty, .price {
    width: 35%;
  }
  .amount p,
  .title p {
    font-size: 14px;
  }
  /*******MyOrders*********/
  .orderSummary {
    display: inline-block;
  }
}

/* Small devices (portrait tablets and large phones, 420px and up) */
@media only screen and (max-width: 420px) {
  /********Slider********/
  .product-slider .product img {
    height: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .product-grid {
    max-width: 25%;
  }
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: #fff;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    width: auto;
    z-index: 9999;
    overflow: hidden;
  }
  /**********Common Slider Css************/
  .heading {
    padding-top: 0;
    padding-bottom: 0;
  }
  /***First Slider ****/
  .first-slider .slider-btn .prev,
  .first-slider .slider-btn .next {
    opacity: 0;
  }
  /**Slick Dots**/
  .slick-dots {
    opacity: 0;
  }
  /*********Exclusive Css***********/
  #myCarousel .carousel-item .mask img {
    width: 30%;
  }
  .carousel-control-next,
  .carousel-control-prev {
    opacity: 0;
  }
  /**********Exclusive Css End***********/
  /*********Cart page***********/
  .qty, .price {
    width: 50%;
  }
  .cart_navigation .payment-logo img {
    width: 60px;
    height: 26px;
    margin: 10px;
  }
  /********Product-detail page*********/
  .detail-images {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .detail-descriptions {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .detail-images, .detail-descriptions {
    min-width: 100%;
  }
  .detail-descriptions {
    padding: 0;
  }
  /************************************/
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .product-grid {
    max-width: 20%;
  }
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  /***First Slider ****/
  .slick-dots {
    opacity: 0;
  }
  .sajha-btn.btn-span {
    padding: .5rem 1rem;
  }
}

/*******End*************/
/*# sourceMappingURL=style.css.map */