<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="indicator">
                        </div>
                        <form action="/login" method="POST" id="loginForm">
                            <input type="email" name="email" placeholder="Email">
                            <input type="password" name="password" placeholder="Password">
                            <button type="submit" class="sajha-btn">Login</button>
                            <a href="#">Forgot Password</a>
                        </form>
                        <form action="" id="regForm">
                            <input type="text" name="username" placeholder="Username">
                            <input type="email" name="email" placeholder="Email">
                            <input type="password" name="password" placeholder="Password">
                            <button type="submit" class="sajha-btn">Register</button>
                            <a href="#">Already have an account?</a>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>  <!-- Header End -->

<%- include('../includes/footer.ejs') %>