<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="/images/darkcake.png" alt="darkcake">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                            <span onclick="register()">Register</span>
                            <hr id="indicator">
                        </div>
                        <form action="" id="loginForm">
                            <input type="text" placeholder="Username">
                            <input type="password" placeholder="Password">
                            <button type="submit" class="btn">Login</button>
                            <a href="#">Forgot Password</a>
                        </form>
                        <form action="" id="regForm">
                            <input type="text" placeholder="Username">
                            <input type="email" placeholder="Email">
                            <input type="password" placeholder="Password">
                            <button type="submit" class="btn">Register</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>  <!-- Header End -->

<%- include('../includes/footer.ejs') %>