<!-- /*****Cards****/ -->
<div class="container">
<div class="row">
    <section class="col hero-section">
      <div class="card-grid">
        <a class="card" href="#">
          <div class="card__background">
              <img src="https://miro.medium.com/max/1128/1*rvaXhplihrfI-P-NMy4KJg.jpeg" alt="">
          </div>
          <div class="card__content">
            
            <h3 class="card__heading">Example Card Heading</h3>
          </div>
        </a>    
        <a class="card" href="#">
          <div class="card__background">
              <img src="https://livforcake.com/wp-content/uploads/2017/06/vanilla-cake-thumb.jpg" alt="">
          </div>
          <div class="card__content">
            
            <h3 class="card__heading">Example Card Heading</h3>
          </div>
        </a>
        <a class="card" href="#">
            <div class="card__background">
                <img src="https://livforcake.com/wp-content/uploads/2017/06/vanilla-cake-thumb.jpg" alt="">
            </div>
            <div class="card__content">
              
              <h3 class="card__heading">Example Card Heading</h3>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card__background">
                <img src="https://livforcake.com/wp-content/uploads/2017/06/vanilla-cake-thumb.jpg" alt="">
            </div>
            <div class="card__content">
              
              <h3 class="card__heading">Example Card Heading</h3>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card__background">
                <img src="https://livforcake.com/wp-content/uploads/2017/06/vanilla-cake-thumb.jpg" alt="">
            </div>
            <div class="card__content">
              
              <h3 class="card__heading">Example Card Heading</h3>
            </div>
          </a>
          <a class="card" href="#">
            <div class="card__background">
                <img src="https://livforcake.com/wp-content/uploads/2017/06/vanilla-cake-thumb.jpg" alt="">
            </div>
            <div class="card__content">
              
              <h3 class="card__heading">Example Card Heading</h3>
            </div>
          </a>
          
    </div>
    </section>
    </div>
</div>