<%- include('../includes/header.ejs') %>
<%- include('../includes/navigation.ejs') %>

<div id="detail-wrapper">
    <div class="row">
    <div class="detail-images">
        <div class="product-img">
        <img src="images/blue-speaker2.jpg" alt="blue-speaker1" width="100%" id="detailMainImg" xoriginal="./images/blue-speaker2.jpg">
        <div class="small-img-row">
            <div class="small-img-col">
                <img src="images/blue-speaker2.jpg" alt="blue-speaker2" width="100%" class="small-img" xpreview="./images/blue-speaker2.jpg">
            </div>
            <!-- <div class="small-img-col">
                <img src="images/fan-table.png" alt="fan-table" width="100%" class="small-img">
            </div> -->
            <div class="small-img-col">
                <img src="images/mainspeaker.jpg" alt="mainspeaker" width="100%" class="small-img">
            </div>
            <div class="small-img-col">
                <img src="images/cup-girl.jpg" alt="cup-girl" width="100%" class="small-img">
            </div>
        </div>
    </div>
    <div class="product-btn">
    <span><a href="" class="btn">Add To Cart</a></span>
    <span><a href="" class="btn">Move To WishList</a></span>
    </div>
    </div>
    <div class="detail-descriptions">
        <div class="product-description">
        <p>Home / Electronics</p>
        <h1>Blue Speaker</h1>
        <h4>Rs: 600</h4>
        <h6>Rs: 600</h6>
        <select>
            <option value="">Select Size</option>
            <option value="">XXL</option>
            <option value="">XL</option>
            <option value="">L</option>
            <option value="">M</option>
            <option value="">S</option>
        </select>
        <input type="number" value="1" class="detail-qty" />
        

        <h3>Product Details</h3>
        <p>What is Lorem Ipsum Lorem Ipsum is simply dummy text of
         the printing and typesetting industry Lorem Ipsum has been the industry's standard
         dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book it has?
        </p>
    </div>
    </div>
</div>
</div>

<%- include('../includes/related-slider.ejs') %>

<%- include('../includes/footer.ejs') %>